[Unit]
Description=VPN DHClient Auto Start
After=network.target

[Service]
Type=forking
ExecStartPre=/bin/sleep 10
ExecStart=/sbin/dhclient vpn_vpn
RestartSec=3s

[Install]
WantedBy=multi-user.target
